.contents {
  padding: 0 20px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contents h2 {
  text-align: center;
}

table {
  width: 500px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

textarea {
  resize: vertical;
}

.star_required {
  color: red;
}

button {
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  border: transparent;
  background: springgreen;
}