.banner {
  height: 60vh;
  padding-top: 80px;
  background: #ababab;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
}

.banner button {
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border: transparent;
  background: springgreen;
}

.banner button span {
  color: #555;
}

.btn_see_more_product {
  margin-top: 15px;
}

.btn_see_more_product button {
  background: springgreen;
  border: transparent;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}