* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
}

.col-2 {
  width: 16.6%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  /* background: chartreuse; */
  background: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 100;
}

.header b {
  font-size: 23px;
}

.navigation li {
  display: inline-block;
  padding: 0 5px;
}

.navigation a {
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.navigation a:hover {
  font-weight: bold;
}

.products {
  margin-top: 30px;
  padding: 0 15px;
}

.products .title {
  text-align: center;
}

.product_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product_card {
  background: #ababab;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.product_card .img {
  width: 100%;
  height: 100px;
  background: #000;
  border-radius: 5px;
}

.card_desc {
  padding: 0 15px;
  margin-top: 7px;
}

.product_price span {
  font-size: 13px;
}

.product_sold {
  text-align: right;
  font-size: 14px;
}

.footer {
  background: chartreuse;
  margin-top: 40px;
  text-align: center;
}