.contents {
  padding-top: 80px;
}

.categories_sec {
  position: fixed;
  top: 120px;
  left: 7px;
  width: 25%;
  background: #ababab;
  padding: 0 10px 10px;
  border-radius: 10px;
}

.categories_sec h2 {
  text-align: center;
}

.categories_sec li {
  transition: .5s;
  cursor: pointer;
  list-style: none;
}

.categories_sec li:hover {
  font-weight: bold;
}

.products_sec {
  margin-left: 27%;
  padding: 10px 0 50px;
}

.sec_title {
  text-align: center;
}

.product_card {
  margin-right: 30px;
  margin-top: 30px;
}